<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body class="container">
  <form class="userslist" action="/users" method="POST">
    <div class="userlist">
      <label for="name">Name</label>
      <input type="text" name="name">
    </div>
    <div class="userlist">
      <label for="email">Email</label>
      <input type="email" name="email">
    </div>
    <div class="userlist">
      <label for="age">Age</label>
      <input type="number" name="age">
    </div>
    <input class="btn" type="submit" value="Add Mate">
  </form>
</body>
</html>